@mixin reusable-stuff() {
  background-color: $color-members;
  border: dashed 4px $color-darkgray;
}

@mixin fade-in() {
  @keyframes scroll-menu-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin fade-out() {
  @keyframes scroll-menu-animation-reverse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}